filter=iir-biquad
mode=lowpass
order=7
sampling_rate=50
start_cutoff=10
verbose=True
#iir_filter_type=butter
#iir_filter_type=cheby1
#ripple=1.0
#iir_filter_type=cheby2
#attenuition=20.0
#iir_filter_type=ellip
#attenuition=20.0
#ripple=1.0
iir_filter_type=bessel
normalization=mag